/* Chart background */
.chart-page {
    background-color: #171717 !important;
  }
  
  /* Main toolbar background */
  .chart-toolbar {
    background-color: #171717 !important;
  }
  
  /* Top toolbar */
  .group-wWM3zP_M- {
    background-color: #171717 !important;
  }

  .group-MBOVGQRI{
    background-color: #171717 !important;
  }

  .separatorWrap-MBOVGQRI{
    background-color: #171717 !important;
  }

  .inner-BfVZxb4b{
    background-color: #171717 !important;
  }

  .toggleButton-OhcB9eH7.apply-common-tooltip.common-tooltip-vertical > svg > g > path.background-Wp9adlfh{
    background-color: #171717 !important;
  }

  .chart-container-border{
    background-color: #171717 !important;
  }

  .group-BfVZxb4b{
    background-color: #171717 !important;
  }
  
  /* Bottom toolbar */
  .chart-controls-bar {
    background-color: #171717 !important;
  }
  
  /* Drawing toolbar */
  .drawing-toolbar {
    background-color: #171717 !important;
  }
  
  /* Toolbar buttons background */
  .button-1SxiWq-q {
    background-color: #171717 !important;
  }
  
  /* Toolbar button hover state */
  .button-1SxiWq-q:hover {
    background-color: #1E1E1E !important;
  }
  
  /* Toolbar separators */
  .separator-2I6DZkMH {
    background-color: #2A2A2A !important;
  }
  
  /* Dropdown menus */
  .menuWrap-1gEtmoET {
    background-color: #171717 !important;
  }