node_modules
.env
deployments.md
broadcast/
mainnetDeployments.md
mainnetDeploymentForCR5.md
testnetDeploymentforANFI.md

# Hardhat files
/cache
/artifacts

#Foundry files
cache/
cache_forge
out/

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
