@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circular Std";
  src: url('../assets/fonts/CircularStd-Book.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url('../assets/fonts/CircularStd-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url('../assets/fonts/CircularStd-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url('../assets/fonts/CircularStd-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "ARPDisplay-20";
  src: url('../assets/fonts/ARPDisplay-20.ttf');
}

@font-face {
  font-family: "ARPDisplay-40";
  src: url('../assets/fonts/ARPDisplay-40.ttf');
}

@font-face {
  font-family: "ARPDisplay-80";
  src: url('../assets/fonts/ARPDisplay-80.ttf');
}

@font-face {
  font-family: "ARPDisplay-150";
  src: url('../assets/fonts/ARPDisplay-150.ttf');
}

@font-face {
  font-family: "ARPDisplay-240";
  src: url('../assets/fonts/ARPDisplay-240.ttf');
}

@font-face {
  font-family: 'KrubRegular';
  font-style: normal;
  font-weight: normal;
  src: local('Krub Regular'), url('../assets/fonts/Krub-Regular.woff') format('woff');
}

@font-face {
  font-family: 'KrubBold';
  font-style: normal;
  font-weight: normal;
  src: local('Krub Bold'), url('../assets/fonts/Krub-Bold.woff') format('woff');
}


@font-face {
  font-family: 'KrubBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local('Krub Bold Italic'), url('../assets/fonts/Krub-BoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'KrubLightRegular';
  font-style: normal;
  font-weight: normal;
  src: local('Krub Light Regular'), url('../assets/fonts/Krub-Light.woff') format('woff');
}


@font-face {
  font-family: 'KrubMediumRegular';
  font-style: normal;
  font-weight: normal;
  src: local('Krub Medium Regular'), url('../assets/fonts/Krub-Medium.woff') format('woff');
}


@font-face {
  font-family: 'KrubSemiBoldRegular';
  font-style: normal;
  font-weight: normal;
  src: local('Krub SemiBold Regular'), url('../assets/fonts/Krub-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'montreal';
  font-style: normal;
  font-weight: normal;
  src: local('montreal'), url('../assets/fonts/PPNeueMontreal-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'montrealBold';
  font-style: normal;
  font-weight: bold;
  src: local('montreal'), url('../assets/fonts/PPNeueMontreal-Bold.ttf') format('woff');
}

@font-face {
  font-family: 'montrealBoldItalic';
  font-style: normal;
  font-weight: bold;
  src: local('montreal'), url('../assets/fonts/PPNeueMontreal-BoldItalic.ttf') format('woff');
}

@font-face {
  font-family: 'pangram';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/PPPangramSansRounded-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'pangramBold';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/pp-pangram-sans-rounded.woff') format('opentype');
}

@font-face {
  font-family: 'pangramMedium';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/PPPangramSansRounded-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'pangramLight';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/PPPangramSansRounded-Light.otf') format('opentype');
}

@font-face {
  font-family: 'pangramCompact';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/PPPangramSansRounded-CompactRegular.otf') format('opentype');
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden !important;
}

.montreal{
  font-family: 'montreal';
}

.montrealBold{
  font-family: 'montrealBold';
}

.montrealBoldItalic{
  font-family: 'montrealBoldItalic';
}

.pangram{
  font-family: 'pangram';
}

.pangramBold{
  font-family: 'pangramBold';
}

.pangramMedium{
  font-family: 'pangramMedium';
}

.ARPDisplay-20{
  font-family: 'ARPDisplay-20';
}

.ARPDisplay-40{
  font-family: 'ARPDisplay-40';
}

.ARPDisplay-80{
  font-family: 'ARPDisplay-80';
}

.ARPDisplay-150{
  font-family: 'ARPDisplay-150';
}

.ARPDisplay-240{
  font-family: 'ARPDisplay-240';
}

.KrubRegular{
  font-family: 'KrubRegular';
}

.KrubBold{
  font-family: 'KrubBold';
}

.KrubMedium{
  font-family: 'KrubMediumRegular';
}

.ReactModal__Overlay{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


#coinsList::-webkit-scrollbar {
  width: 4px;
  border-radius: 20px;
}

#coinsList::-webkit-scrollbar-track {
  background-color: rgb(176, 176, 176);
  width: 4px;
  border-radius: 20px;
}

#coinsList::-webkit-scrollbar-thumb {
  background-color:rgb(116, 116, 116);
  width: 4px;
  border-radius: 20px;
}

.sc-gEvEer{
  max-height: 30vh !important;
  overflow: hidden !important;
  z-index: 1000 !important;
}

#mediSectionCarousel .slick-slide div {
  margin: 0 10px;
  height: 30vh;
  border-radius: 15px;
  position: relative !important;
}

#comparisonBox .slick-slide div.indexContainer {
  
  
  border-radius: 15px;
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: flex-start;
}


#comparisonBox .slick-slide div.indexDataContainer{
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
  justify-content: center;

  
}

#mediSectionCarousel .slick-list {
  margin: 0 -10px;
}

#comparisonBox .slick-list {
  margin: 0 -40px;
}

#comparisonItem{
  box-shadow: 0px 0px 10px 1px #c8cbd2 !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}

.slick-arrow.slick-prev{
  display: block !important;
  z-index: 1000;
  position: absolute;
  left: 1% !important;
  background-color: white !important;
}

.customArrow1{
  box-shadow: 0px 0px 10px 1px #5f5f5f45;
}

#convertPage{
  background-image: url('../assets/images/3d\ hologram.png');
  background-size: auto 100%;
  background-position: 0 0;
  animation: scrollBackground 80s linear infinite;
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ededed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #829c8f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a9c3b6;
}
