@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Inter-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'interMedium';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'interBold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'interExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'interBlack';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/Inter-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'montreal';
  font-style: normal;
  font-weight: normal;
  src: local('montreal'), url('../assets/fonts/PPNeueMontreal-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'montrealBold';
  font-style: normal;
  font-weight: bold;
  src: local('montreal'), url('../assets/fonts/PPNeueMontreal-Bold.ttf') format('woff');
}

@font-face {
  font-family: 'montrealBoldItalic';
  font-style: normal;
  font-weight: bold;
  src: local('montreal'), url('../assets/fonts/PPNeueMontreal-BoldItalic.ttf') format('woff');
}

@font-face {
  font-family: 'pangram';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/PPPangramSansRounded-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'pangramBold';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/pp-pangram-sans-rounded.woff') format('opentype');
}

@font-face {
  font-family: 'pangramMedium';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/PPPangramSansRounded-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'pangramLight';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/PPPangramSansRounded-Light.otf') format('opentype');
}

@font-face {
  font-family: 'pangramCompact';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/PPPangramSansRounded-CompactRegular.otf') format('opentype');
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --hue: 223;
	--off-hue: 3;
	--on-hue1: 123;
	--on-hue2: 168;
	--fg: hsl(var(--hue),10%,90%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.6s;
	--trans-timing: cubic-bezier(0.65,0,0.35,1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden !important;
}

.inter {
  font-family: 'inter';
}

.interMedium {
  font-family: 'interMedium';
}

.interBold {
  font-family: 'interBold';
}

.interExtraBold {
  font-family: 'interExtraBold';
}

.interBlack {
  font-family: 'interBlack';
}

.montreal{
  font-family: 'montreal';
}

.montrealBold{
  font-family: 'montrealBold';
}

.montrealBoldItalic{
  font-family: 'montrealBoldItalic';
}

.pangram{
  font-family: 'pangram';
}

.pangramBold{
  font-family: 'pangramBold';
}

.pangramMedium{
  font-family: 'pangramMedium';
}

.ARPDisplay-20{
  font-family: 'ARPDisplay-20';
}

.ARPDisplay-40{
  font-family: 'ARPDisplay-40';
}

.ARPDisplay-80{
  font-family: 'ARPDisplay-80';
}

.ARPDisplay-150{
  font-family: 'ARPDisplay-150';
}

.ARPDisplay-240{
  font-family: 'ARPDisplay-240';
}

.KrubRegular{
  font-family: 'KrubRegular';
}

.KrubBold{
  font-family: 'KrubBold';
}

.KrubMedium{
  font-family: 'KrubMediumRegular';
}

.ReactModal__Overlay{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 99999 !important;
}

.szh-accordion__item-btn{
  width: 100% !important;
}


#coinsList::-webkit-scrollbar {
  width: 4px;
  border-radius: 20px;
}

#coinsList::-webkit-scrollbar-track {
  background-color: rgb(176, 176, 176);
  width: 4px;
  border-radius: 20px;
}

#coinsList::-webkit-scrollbar-thumb {
  background-color:rgb(116, 116, 116);
  width: 4px;
  border-radius: 20px;
}

.sc-gEvEer{
  max-height: 30vh !important;
  overflow: hidden !important;
  z-index: 1000 !important;
}

#mediSectionCarousel .slick-slide div {
  margin: 0 10px;
  height: 30vh;
  border-radius: 15px;
  position: relative !important;
}

#comparisonBox .slick-slide div.indexContainer {
  border-radius: 15px;
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: flex-start;
}


#comparisonBox .slick-slide div.indexDataContainer{
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
  justify-content: center;

  
}

#mediSectionCarousel .slick-list {
  margin: 0 -10px;
}

#comparisonBox .slick-list {
  margin: 0 -40px;
}

#comparisonItem{
  box-shadow: 0px 0px 10px 1px #c8cbd2 !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}

.slick-arrow.slick-prev{
  display: block !important;
  z-index: 1000;
  position: absolute;
  left: 1% !important;
  background-color: white !important;
}

.customArrow1{
  box-shadow: 0px 0px 10px 1px #5f5f5f45;
}

#convertPage{
  background-image: url('../assets/images/3d\ hologram.png');
  background-size: auto 100%;
  background-position: 0 0;
  animation: scrollBackground 80s linear infinite;
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.accordion{
  border: none !important;
}

.Toastify__toast {
	background-color: #2A2A2A !important;
	color: #F2F2F2 !important;
  border-radius: 12px !important;
  border: solid 1px black !important;
  font-family: 'interBold' !important;
}

.Toastify__progress-bar--info {
	background-color: #5E869B !important;
}

.Toastify__progress-bar--success {
	background-color: #5E869B !important;
}

.Toastify__progress-bar--warning {
	background-color: #5E869B !important;
}

.Toastify__progress-bar--error {
	background-color: #5E869B !important;
}

.Toastify__close-button > svg {
	color: #dbdbdb;
}

.Toastify__close-button {
	color: #dbdbdb;
}

.shakingIcon{
  animation: shake 0.5s ease-in-out infinite;
}



.Toastify__toast-icon div{
  width: fit-content !important;
  overflow: unset !important;
}

.Toastify__toast-icon svg{

  scale: 1.4 !important;
}

.Toastify__toast-icon svg:nth-child(2){

  display: none !important;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}


.darkScrollBar::-webkit-scrollbar-track {
  background: #3f3f3f !important;
}

.darkScrollBar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.darkScrollBar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.darkScrollBar::-webkit-scrollbar-track {
  background: #3f3f3f;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ededed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5E869B;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8db1c4;
}


.react-tabs__tab--selected{
  background-color: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid 3px #5E869B !important;
}

.react-tabs__tab--selected:focus{
  background-color: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid 3px #5E869B !important;
}

.react-tabs__tab--selected::after{
  background-color: #5E869B !important;
}

.react-tabs__tab--selected h5{
  color: #5E869B !important;
}

.react-tabs__tab{
  color: #2a2a2a5a !important;
}

#reactgooglegraph-1{
  font-family: 'interBold' !important;
}

.overlay{
  z-index: 9999 !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
}

/*
.MuiScopedCssBaseline-root{
  border: 1px solid rgba(255, 255, 255, 0.01) !important;

    background: rgba(255, 255, 255, 0.41) !important;

    box-shadow: 0px 3px 5px 0px rgba(94, 134, 155, 0.80), -2px -2px 4px 0px rgba(58, 66, 70, 0.15) inset !important;
    backdrop-filter: blur(11.199999809265137px) !important;
}

.MuiContainer-root{

    background: rgba(255, 255, 255, 0) !important;

    backdrop-filter: blur(11.199999809265137px) !important;
}
*/


.menu-wrap{
  width: 100vw !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  z-index: 9999 !important;
}

.dark-menu-wrap.menu-wrap{
  width: 100vw !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  z-index: 9999 !important;
}

.menu-wrap .head{
  display: none  !important;
  height: 0px !important;
}

.menu-wrap .menu{
  background-color: rgba(255, 255, 255, 0.5) !important;
  height: 100vh !important;
}

.dark-menu-wrap.menu-wrap .menu{
  background-color: rgba(0, 0, 0, 0.7) !important;
  height: 100vh !important;
}

.dark-menu-wrap.menu-wrap svg{
  filter: invert(1) !important;
}

.med_test_class{
  background-color: red;
}

.med_test_class2{
  background-color: red;
}

.titleShadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tw-connect-wallet{
  font-family: 'interBold' !important;
  background-color: #5E869B !important;
  box-shadow: 0 1px 2px 1px rgb(0 0 0 / 0.4) !important;
  color: #FFFFFF !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.disabled {
  cursor: not-allowed;
}

#chartdiv
  > div
  > svg
  > g
  > g:nth-child(2)
  > g:nth-child(2)
  > g
  > g:nth-child(3) {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .tw-connect-wallet{
    font-size: 2rem !important;
    padding: 3% 4% !important;
    width: 80vw !important;
    height: 10vh !important;
    background-color: #5E869B !important;
  }
}

.ReactModal__Content, .ReactModal__Content--after-open{
  border: none !important;
}

.legend-item{
  width: fit-content !important;
  height: fit-content !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 5px !important;
}

.color-circle{
  height: 1.2rem !important;
  width: 1.2rem !important;
  border-radius: 50% !important;
}

.label-text{
  font-size: 1.2rem !important;
  font-family: 'interBold' !important;
  color: #2A2A2A !important;
}

.withTip::before{
  content:'';
  display:block;
  width:0;
  height:0;
  position:absolute;
  
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  border-right:8px solid black;
  left:-8px;
  
  bottom:7px;
}


.durationMenu .szh-menu{
  background-color: #5E869B !important;
}

.subCatgoriesMenu .szh-menu{
  background-color: #5E869B !important;
}

.cefiCsDefiAnimated{
  animation: moveUpDown 60s infinite alternate;
}

.tipsBox{
  animation: moveUpDown 60s infinite alternate;
}

@keyframes moveUpDown {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 100% 50%; /* Adjust the distance based on the desired movement */
  }
}

.navSubMenu{
  position: relative !important;
   z-index: 9999 !important;
   padding: 0px !important;
   border-radius: 4px !important;
   overflow: hidden !important;
}

.darkNavSubMenu{
  position: relative !important;
   z-index: 9999 !important;
   padding: 0px !important;
   border-radius: 8px !important;
   overflow: hidden !important;
   background-color: #050505 !important;
   border: solid .2px #F2F2F2 !important; 
}

#ReactSimpleImageViewer{
  z-index: 9999 !important;
}

.neonSwitch,
.switch__input {
	-webkit-tap-highlight-color: #0000;
}
.neonSwitch {
	display: block;
	margin: auto;
	position: relative;
	width: 5em;
	height: 3em;
}
.switch__base-outer,
.switch__base-inner {
	display: block;
	position: absolute;
}
.switch__base-outer {
	border-radius: 1.25em;
	box-shadow:
		-0.125em -0.125em 0.25em hsl(var(--hue),10%,30%),
		0.125em 0.125em 0.125em hsl(var(--hue),10%,30%) inset,
		0.125em 0.125em 0.25em hsl(0,0%,0%),
		-0.125em -0.125em 0.125em hsl(var(--hue),10%,5%) inset;
	top: 0.125em;
	left: 0.125em;
	width: 4.75em;
	height: 2.75em;
}
.switch__base-inner {
	border-radius: 1.125em;
	box-shadow:
		-0.25em -0.25em 0.25em hsl(var(--hue),10%,30%) inset,
		0.0625em 0.0625em 0.125em hsla(var(--hue),10%,30%),
		0.125em 0.25em 0.25em hsl(var(--hue),10%,5%) inset,
		-0.0625em -0.0625em 0.125em hsla(var(--hue),10%,5%);
	top: 0.375em;
	left: 0.375em;
	width: 4.25em;
	height: 2.25em;
}
.switch__base-neon {
	display: block;
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.switch__base-neon path {
	stroke-dasharray: 0 104.26 0;
	transition: stroke-dasharray var(--trans-dur) var(--trans-timing);
}
.switch__input {
	outline: transparent;
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
	appearance: none;
}
.switch__input:before {
	border-radius: 0.125em;
	box-shadow: 0 0 0 0.125em hsla(var(--hue),90%,50%,0);
	content: "";
	display: block;
	position: absolute;
	inset: -0.125em;
	transition: box-shadow 0.15s linear;
}
.switch__input:focus-visible:before {
	box-shadow: 0 0 0 0.125em var(--primary);
}
.switch__knob,
.switch__knob-container {
	border-radius: 1em;
	display: block;
	position: absolute;
}
.switch__knob {
	background-color: hsl(var(--hue),10%,15%);
	background-image:
		radial-gradient(88% 88% at 50% 50%,hsl(var(--hue),10%,20%) 47%,hsla(var(--hue),10%,20%,0) 50%),
		radial-gradient(88% 88% at 47% 47%,hsl(var(--hue),10%,85%) 45%,hsla(var(--hue),10%,85%,0) 50%),
		radial-gradient(65% 70% at 40% 60%,hsl(var(--hue),10%,20%) 46%,hsla(var(--hue),10%,20%,0) 50%);
	box-shadow:
		-0.0625em -0.0625em 0.0625em hsl(var(--hue),10%,15%) inset,
		-0.125em -0.125em 0.0625em hsl(var(--hue),10%,5%) inset,
		0.75em 0.25em 0.125em hsla(0,0%,0%,0.8);
	width: 2em;
	height: 2em;
	transition: transform var(--trans-dur) var(--trans-timing);
}
 
.light_switch__knob {
	background-color: hsl(var(--hue),10%,15%);
	background-image:
		radial-gradient(88% 88% at 50% 50%,hsl(var(--hue),10%,20%) 47%,hsla(var(--hue),10%,20%,0) 50%),
		radial-gradient(88% 88% at 47% 47%,hsl(var(--hue),10%,85%) 45%,hsla(var(--hue),10%,85%,0) 50%),
		radial-gradient(65% 70% at 40% 60%,hsl(var(--hue),10%,20%) 46%,hsla(var(--hue),10%,20%,0) 50%);
	box-shadow:
		-0.0625em -0.0625em 0.0625em hsl(var(--hue),10%,15%) inset,
		-0.125em -0.125em 0.0625em hsl(var(--hue),10%,5%) inset,
		0.75em 0.25em 0.125em hsla(0,0%,0%,0.8);
	width: 2em;
	height: 2em;
	transition: transform var(--trans-dur) var(--trans-timing);
}
.switch__knob-container {
	overflow: hidden;
	top: 0.5em;
	left: 0.5em;
	width: 4em;
	height: 2em;
}
.switch__knob-neon {
	display: block;
	width: 2em;
	height: auto;
}
.switch__knob-neon circle {
	opacity: 0;
	stroke-dasharray: 0 90.32 0 54.19;
	transition:
		opacity var(--trans-dur) steps(1,end),
		stroke-dasharray var(--trans-dur) var(--trans-timing);
}
.switch__knob-shadow {
	border-radius: 50%;
	box-shadow: 0.125em 0.125em 0.125em hsla(0, 0%, 0%, 0.9);
	display: block;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	width: 2em;
	height: 2em;
	transition: transform var(--trans-dur) var(--trans-timing);
}
.switch__text {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}
.switch__input:checked ~ .switch__led {
	background-color: hsl(var(--on-hue1),90%,70%);
	box-shadow:
		0 -0.0625em 0.0625em hsl(var(--on-hue1),90%,40%) inset,
		0 -0.125em 0.125em hsla(var(--on-hue1),90%,70%,0.3),
		0 0.125em 0.125em hsla(var(--on-hue1),90%,70%,0.3),
		0.125em 0.125em 0.125em hsla(0,0%,0%,0.5);
}
.switch__input:checked ~ .switch__base-neon path {
	stroke-dasharray: 52.13 0 52.13;
}
.switch__input:checked ~ .switch__knob-shadow,
.switch__input:checked ~ .switch__knob-container .switch__knob {
	transform: translateX(100%);
}
.switch__input:checked ~ .switch__knob-container .switch__knob-neon circle {
	opacity: 1;
	stroke-dasharray: 45.16 0 45.16 54.19;
	transition-timing-function: steps(1,start), var(--trans-timing);
}

.darkAutoComplete .wrapper{
  background-color: transparent !important;
  border-color: #FFFFFF !important;
}

.darkAutoComplete input{
  background-color: transparent !important;
  color: #FFFFFF !important;
}

.darkAutoComplete .sc-gEvEer{
  background-color: #050505 !important;
  border-color: #FFFFFF !important;
}

.MuiButton-root{
  background-color: #86afbfe6 !important;
}

.MuiIconButton-root{
  border-color: #2A2A2A !important;
}