@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Inter-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'interMedium';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'interBold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'interExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'interBlack';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/Inter-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'montreal';
  font-style: normal;
  font-weight: normal;
  src: local('montreal'), url('../assets/fonts/PPNeueMontreal-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'montrealBold';
  font-style: normal;
  font-weight: bold;
  src: local('montreal'), url('../assets/fonts/PPNeueMontreal-Bold.ttf') format('woff');
}

@font-face {
  font-family: 'montrealBoldItalic';
  font-style: normal;
  font-weight: bold;
  src: local('montreal'), url('../assets/fonts/PPNeueMontreal-BoldItalic.ttf') format('woff');
}

@font-face {
  font-family: 'pangram';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/PPPangramSansRounded-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'pangramBold';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/pp-pangram-sans-rounded.woff') format('opentype');
}

@font-face {
  font-family: 'pangramMedium';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/PPPangramSansRounded-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'pangramLight';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/PPPangramSansRounded-Light.otf') format('opentype');
}

@font-face {
  font-family: 'pangramCompact';
  font-style: normal;
  font-weight: normal;
  src: local('pangram'), url('../assets/fonts/PPPangramSansRounded-CompactRegular.otf') format('opentype');
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden !important;
}

.inter {
  font-family: 'inter';
}

.interMedium {
  font-family: 'interMedium';
}

.interBold {
  font-family: 'interBold';
}

.interExtraBold {
  font-family: 'interExtraBold';
}

.interBlack {
  font-family: 'interBlack';
}

.montreal{
  font-family: 'montreal';
}

.montrealBold{
  font-family: 'montrealBold';
}

.montrealBoldItalic{
  font-family: 'montrealBoldItalic';
}

.pangram{
  font-family: 'pangram';
}

.pangramBold{
  font-family: 'pangramBold';
}

.pangramMedium{
  font-family: 'pangramMedium';
}

.ARPDisplay-20{
  font-family: 'ARPDisplay-20';
}

.ARPDisplay-40{
  font-family: 'ARPDisplay-40';
}

.ARPDisplay-80{
  font-family: 'ARPDisplay-80';
}

.ARPDisplay-150{
  font-family: 'ARPDisplay-150';
}

.ARPDisplay-240{
  font-family: 'ARPDisplay-240';
}

.KrubRegular{
  font-family: 'KrubRegular';
}

.KrubBold{
  font-family: 'KrubBold';
}

.KrubMedium{
  font-family: 'KrubMediumRegular';
}

.ReactModal__Overlay{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 99999 !important;
}

.szh-accordion__item-btn{
  width: 100% !important;
}


#coinsList::-webkit-scrollbar {
  width: 4px;
  border-radius: 20px;
}

#coinsList::-webkit-scrollbar-track {
  background-color: rgb(176, 176, 176);
  width: 4px;
  border-radius: 20px;
}

#coinsList::-webkit-scrollbar-thumb {
  background-color:rgb(116, 116, 116);
  width: 4px;
  border-radius: 20px;
}

.sc-gEvEer{
  max-height: 30vh !important;
  overflow: hidden !important;
  z-index: 1000 !important;
}

#mediSectionCarousel .slick-slide div {
  margin: 0 10px;
  height: 30vh;
  border-radius: 15px;
  position: relative !important;
}

#comparisonBox .slick-slide div.indexContainer {
  border-radius: 15px;
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: flex-start;
}


#comparisonBox .slick-slide div.indexDataContainer{
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
  justify-content: center;

  
}

#mediSectionCarousel .slick-list {
  margin: 0 -10px;
}

#comparisonBox .slick-list {
  margin: 0 -40px;
}

#comparisonItem{
  box-shadow: 0px 0px 10px 1px #c8cbd2 !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}

.slick-arrow.slick-prev{
  display: block !important;
  z-index: 1000;
  position: absolute;
  left: 1% !important;
  background-color: white !important;
}

.customArrow1{
  box-shadow: 0px 0px 10px 1px #5f5f5f45;
}

#convertPage{
  background-image: url('../assets/images/3d\ hologram.png');
  background-size: auto 100%;
  background-position: 0 0;
  animation: scrollBackground 80s linear infinite;
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.Toastify__toast {
	background-color: #F2F2F2 !important;
	color: #2A2A2A !important;
}

.Toastify__progress-bar--info {
	background-color: #A6C3CE !important;
}

.Toastify__progress-bar--success {
	background-color: #089981;
}

.Toastify__progress-bar--warning {
	background-color: #ED9733;
}

.Toastify__progress-bar--error {
	background-color: #F23645;
}

.Toastify__close-button > svg {
	color: #dbdbdb;
}

.Toastify__close-button {
	color: #dbdbdb;
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ededed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5E869B;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8db1c4;
}


.react-tabs__tab--selected{
  background-color: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid 3px #91AC9A !important;
}

.react-tabs__tab--selected:focus{
  background-color: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid 3px #91AC9A !important;
}

.react-tabs__tab--selected::after{
  background-color: #91AC9A !important;
}

.react-tabs__tab--selected h5{
  color: #91AC9A !important;
}

.react-tabs__tab{
  color: #2a2a2a5a !important;
}

#reactgooglegraph-1{
  font-family: 'montrealBold' !important;
}

.overlay{
  z-index: 9999 !important;
}

.menu-wrap{
  width: 100vw !important;
  background-color: #F2F2F2 !important;
  z-index: 9999 !important;
}

.menu-wrap .head{
  display: none  !important;
  height: 0px !important;
}

.menu-wrap .menu{
  background-color: #F2F2F2 !important;
  height: 100vh !important;
}

.med_test_class{
  background-color: red;
}

.med_test_class2{
  background-color: red;
}

.titleShadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tw-connect-wallet{
  font-family: 'interBold' !important;
  background-color: #5E869B !important;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

@media only screen and (max-width: 600px) {
  .tw-connect-wallet{
    font-size: 2rem !important;
    padding: 3% 4% !important;
    width: 80vw !important;
    height: 10vh !important;
    background-color: #5E869B !important;
  }
}

.ReactModal__Content, .ReactModal__Content--after-open{
  border: none !important;
}